{% capture author_info %}
<div class="author">
 {% if site.author_thumbnail && site.author_thumbnail != '' %}
  <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
    <img 
      src="{{ '/assets/images/avatar.jpg' | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>
  {% endif %}
  <h5>Author</h4>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      {{ site.author }}
    </a>
  </h5>
  <p>
    Find me on
    {% if site.theme.social.github %}
        <a title="{{ site.theme.social.github }} on Github" 
            href="https://github.com/{{ site.theme.social.github }}" 
            class="ion-social-github" target="_blank"></a>
    {% endif %} 
    /
    {% if site.theme.social.linkedIn %}
        <a title="{{ site.theme.social.linkedIn }} on LinkedIn" 
            href="https://linkedin.com/in/{{ site.theme.social.linkedIn }}" 
            class="ion-social-linkedin" target="_blank"></a>
    {% endif %}
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}
