{% capture share_button %}
<div class="share-buttons">
  <h5>Share this post on</h5>
  <ul class="social-media">
    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter" 
          href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="ion-social-twitter" target="_blank">
        </a>
    </li>   
    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/share?url={{site.url}}{{page.url}}" 
            class="ion-social-google" target="_blank"></a>
    </li>
    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}" 
            class="ion-social-facebook" target="_blank"></a>
    </li>
  </ul>
</div>
{% endcapture %}{{ share_button | strip_newlines }}
