{% capture styles %}

<style type="text/css">
{% capture include_to_scssify %}
{% if site.theme.highlight_color && site.theme.highlight_color != '' %}
a, .post-title a { color: {{ site.theme.highlight_color }};}

a:hover { border-bottom-color: {{ site.theme.highlight_color }};}
/*.sidebar { background-color: {{ site.theme.highlight_color }};}*/
/*.sidebar { background-image: url("http://www120.lunapic.com/do-not-link-here-use-hosting-instead/145178135561367?4154343074");}*/
.sidebar { background-image: url("/assets/images/congruent_pentagon_purp.png");}


.wc-top, .sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: {{ site.theme.highlight_color }};
}

.sidebar a:hover, .sidebar .sidebar-nav a   {
  border-bottom-color: lighten({{ site.theme.highlight_color }}, 5%);
}

.sidebar .sidebar-nav {
  border-top-color: lighten({{ site.theme.highlight_color }}, 5%);
}

.sidebar .sidebar-nav a.sidebar-nav-item:hover,
.sidebar .sidebar-nav a.sidebar-nav-item:focus {
  background: lighten({{ site.theme.highlight_color }}, 3%);
}

.sidebar .sidebar-nav .sidebar-nav-item.active {
  background-color: darken({{ site.theme.highlight_color }}, 3%);
}

.sidebar ul.social-media li>a {
  color: {{ site.theme.social.color }};
  font-size: {{ site.theme.social.size }};
  /*background-color: darken({{ site.theme.highlight_color }}, 3%);*/
  /*border-color: lighten({{ site.theme.highlight_color }}, 5%);*/
  /*border-bottom-color: lighten({{ site.theme.highlight_color }}, 5%) !important;*/
  border-bottom-color: lighten({{ site.theme.social.color }}, 5%)
}

.post ul.social-media li>a {
    background-color: white;
    color: {{ site.theme.highlight_color }};
}

ul.social-media li>a:hover {
  background-color: lighten({{ site.theme.highlight_color }}, 50%);
}

.btn {
  border-color: {{ site.theme.highlight_color }};
  background: rgba({{ site.theme.highlight_color }}, 1);
}

.btn:hover, .btn:focus {
  border-color: darken({{ site.theme.highlight_color }}, 5%);
  background: darken(rgba({{ site.theme.highlight_color }}, 1), 5%);
}
{% endif %}
{% endcapture %}
{{ include_to_scssify | scssify }}

</style>

{% endcapture %}{{ styles | strip_newlines }}
